@media screen and (max-width: 767px) {
    .hero {
        padding-top: 0;
    }
}
@media screen and (max-width: 442px) {
    .hero-left {
        margin: 7px 0;
    }
    .hero-left h2 {
        font-size: 35px;
    }
}